body {
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #4f4f4f9a;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #000000;
}

#cabecalho .nav .nav-link,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand {
    font-family: Michroma;
    color: #fff;
}

.navbar-toggler {
    background-color: #ffece7;
}

.section-title {
    font-family: Michroma;
}

.section-contato {
    font-family: Michroma;
    color: #fff;
}

.paragrafo {
    font-family: bitter, serif;
    font-weight: 600, bold;
    color: #fff;
}

.paragrafo-detalhe {
    font-family: bitter, serif;
    font-weight: 600, bold;
}

.cayenne {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.p911 {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.panamera {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

#sobre-a-loja {
    background-color: gray;
}

#carros, #detalhes {
    background-color: rgb(207, 207, 207);
}

.cor-text{
    color: gray;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-carro .nav-link.active{
    background-color: gray;
    color: #fff;
}

.nav-carro .nav-link:hover {
    color: rgb(28, 28, 28);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#contato {
    background-color: rgb(15, 15, 15);
}

#contato button {
    background-color: gray;
    color: #fff;
}

.error {
    color: #fff;
}